<div>
    <h1>Burgers</h1>
</div>

<div>
    <ul class="burgers">
        <span *ngFor="let burger of burgers">

            <mat-card class="burger-card">
                <mat-card-header>
                <mat-card-title>{{burger.name}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{burger.image}}">
                <mat-card-content>
                <p> Prix : {{burger.price}}€ </p>
                </mat-card-content>
                <mat-card-actions>
                <a mat-raised-button color="Warn" routerLink="/details/{{burger.id}}">Détails </a>
                </mat-card-actions>
            </mat-card>
        </span>
    </ul>
</div>