<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img
      width="40"
      alt="Burger Logo"
      src="https://i.pinimg.com/originals/a9/62/0e/a9620e76f19433f4aa6e8935d3cc1734.png"
    />
    <h1>Burgers</h1>
</div>

<div>
    <ul class="burgers">
        <span *ngFor="let burger of burgers">

            <mat-card class="example-card">
                <mat-card-header>
                <mat-card-title>{{burger.name}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{burger.image}}">
                <mat-card-content>
                <p> Prix : {{burger.price}}€ </p>
                </mat-card-content>
                <mat-card-actions>
                <button mat-button routerLink="/details/{{burger.id}}">Détails </button>
                </mat-card-actions>
            </mat-card>
        </span>
    </ul>
</div>