<div>
    <mat-card class="burger-card">
        <mat-card-header>
        <mat-card-title>Burger n° {{burger.id}} : {{burger.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{burger.image}}">
        <mat-card-content>
        <p> Prix : {{burger.price}}€ </p>
        <p> Nutriscore : {{burger.nutriscore}}€ </p>
        <p> Energie (kCal) : {{burger.nutriments['energy-kcal']}} </p>
        <p> Graisses saturées : {{burger.nutriments['saturated-fat']}} </p>
        </mat-card-content>
    </mat-card>
</div>

<a mat-raised-button color="Basic" (click)="goBack()">Retour</a>